.detail__img_header {
  position: absolute;
  top: 4vw;
  left: 10vw;
  z-index: 9999;
  width: 30%;
}
.detail__stripe__red {
  width: 100%;
  height: 8vw;
  color: #dd1a1a;
  background: #dd1a1a;
  position: absolute;
  top: 0;
}

.detail__stripe__black {
  width: 100%;
  height: 4vw;
  color: #0c0c0c;
  background: #0c0c0c;
  position: absolute;
  top: 8vw;
}

.detail__circle {
  position: absolute;
  width: 7vw;
  height: 7vw;
  border: 0.7vw solid #000000;
  background-color: white;
  border-radius: 50%;
  z-index: 9999999;
  top: 5vw;
  left: 80%;
}

.detail__circle__i {
  position: absolute;
  width: 4vw;
  height: 4vw;
  border: 0.8vw solid #000000;
  background-color: rgb(42, 41, 41);
  border-radius: 50%;
  z-index: 9999999;
  bottom: 15%;
  left: 14%;
}

.detail__pokemon {
  width: 100%;
  margin: 25vw auto 0 auto;
  max-width: 80em;
  border-radius: 1em;
  font-size: 0.7rem;
}

.detail__header {
  width: 100%;
  aspect-ratio: 5;
  position: relative;
}

.detail__img {
  position: absolute;
  width: 40%;
  top: -15em;
  left: 50%;
  transform: translateX(-50%);
}

.detail__principal {
  margin-top: 10em;
  margin-top: 1em;
  position: relative;
}

.detail__hr1 {
  position: absolute;
  top: 11em;
  left: 8em;
  width: 20%;
  border: 1px solid #ccc;
  margin-inline: 1em;
}
.detail__hr2 {
  position: absolute;
  top: 11em;
  right: 8em;
  width: 20%;
  border: 1px solid #ccc;
  margin-inline: 1em;
}

.id {
  width: 100%;
  max-width: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5em auto;
  padding-left: 0.2em;
  text-align: center;
  text-transform: capitalize;
  font-size: 4em;
  font-weight: 800;
  border: 2px solid #ccc;
}
.detail__name {
  margin: 0 1em;
  text-align: center;
  text-transform: capitalize;
  font-size: 5em;
  font-weight: 800;
}

.wh__ul {
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

.wh__li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.wh__label {
  font-size: 0.7em;
  text-transform: uppercase;
}

.wh__value {
  font-size: 1.3em;
  font-weight: 800;
}

.type__ability {
  display: flex;
  justify-content: space-around;
}

.h4 {
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
}

.type__ability__content {
  width: 40%;
}

.detail__types {
  display: flex;
  justify-content: space-around;
}
.detail__abilities {
  display: flex;
  justify-content: space-around;
}

.detail__type {
  border: 1px solid #ccc;
  width: 35%;
  padding: 0.5em;
  text-align: center;
  font-size: 1em;
  font-weight: 800;
  color: white;
  text-transform: uppercase;
}

.detail__ability {
  border: 1px solid #ccc;
  width: 35%;
  padding: 0.5em;
  text-align: center;
  font-size: 1em;
  font-weight: 800;
  text-transform: uppercase;
}

.detail__stats {
  padding: 1em;
  position: relative;
}

.stat__title {
  font-size: 3em;
  margin-left: 3em;
}

.stat__hr {
  position: absolute;
  top: 7em;
  left: 18em;
  width: 60%;
  border: 1px solid #ccc;
  margin-inline: 1em;
}

.detail__list {
  margin: 2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1em;
  align-items: center;
}

.detail__stat {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  align-items: center;
}

.detail__stat__label {
  font-size: 2em;
  text-transform: uppercase;
}

.detail__stat__value {
  font-size: 3em;
  font-weight: 800;
}

.moves {
  position: relative;
  width: 100%;
  margin: 2vw auto 0 auto;
  max-width: 80em;
  border-radius: 1em;
  font-size: 0.7rem;
}
.moves__card {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em;
  justify-content: space-around;
}
.detail__move {
  list-style: none;
  background-color: #ccc;
  padding: 0.5em 1em;
  border-radius: 8em;
  font-size: 1.5em;
}

.move__title {
  font-size: 3em;
  margin: 1em 0 0.5em 1em;
}

.move__hr {
  position: absolute;
  top: 5em;
  left: 12em;
  width: 80%;
  border: 1px solid #ccc;
  margin-inline: 1em;
}

@media (max-width: 600px) {
  .detail__img_header {
    width: 60%;
    top: 8vw;
  }
  .detail__stripe__red {
    height: 15vw;
  }

  .detail__stripe__black {
    width: 100%;
    height: 10vw;
    position: absolute;
    top: 15vw;
  }
  .detail__circle {
    width: 20vw;
    height: 20vw;
    border: 3vw solid #000000;
    bottom: 54vw;
    left: 75%;
  }

  .detail__circle__i {
    width: 10vw;
    height: 10vw;
    border: 2vw solid #000000;
    bottom: 15%;
    left: 15%;
  }
  .detail__pokemon {
    margin-top: 50vw;
    font-size: 0.7rem;
  }

  .detail__header {
    width: 100%;
    aspect-ratio: 5;
    position: relative;
  }

  .detail__img {
    position: absolute;
    width: 40%;
    top: -8em;
    left: 50%;
    transform: translateX(-50%);
  }

  .detail__principal {
    margin-top: 10em;
    margin-top: 1em;
    position: relative;
  }

  .detail__hr1 {
    top: 7.5em;
    left: 0.1em;
    width: 18%;
  }
  .detail__hr2 {
    top: 7.5em;
    right: 0.1em;
    width: 18%;
  }

  .id {
    width: 100%;
    font-size: 3em;
    border: none;
  }
  .detail__name {
    font-size: 3em;
  }

  .wh__ul {
    font-size: 0.8em;
  }

  .h4 {
    font-size: 1.8em;
    text-transform: uppercase;
    text-align: center;
  }

  .type__ability {
    flex-direction: column;
  }

  .type__ability__content {
    width: 90%;
    margin: 0 auto;
  }
  .detail__types {
    gap: 1em;
    justify-content: center;
    align-items: center;
  }
  .detail__type {
    width: 40%;
  }

  .detail__ability {
    width: 50%;
    font-size: 1em;
    overflow: hidden;
  }
  .detail__abilities {
    gap: 1em;
    justify-content: center;
    align-items: center;
  }

  .stat__title {
    font-size: 2em;
    margin-left: 1em;
  }

  .stat__hr {
    top: 4.8em;
    left: 8em;
  }

  .detail__list {
    margin: 1em;
    row-gap: 0.5em;
  }

  .detail__stat__label {
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
  }

  .detail__stat__value {
    font-size: 2em;
    font-weight: 800;
  }

  .moves {
    font-size: 0.5rem;
  }

  .move__hr {
    position: absolute;
    top: 5em;
    left: 12em;
    width: 70%;
    border: 1px solid #ccc;
    margin-inline: 1em;
  }
}
